---
layout: shouye
---

<div class="home">

  <h1 class="page-heading">目录</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
		<div class="pre-read">
		   {{ post.excerpt | markdownify }}		<!--预览摘要部分-->
		</div>
		<a class="fulltext" href="{{ post.url | prepend: site.baseurl }}">点击查看全文</a>
      </li>
	  <hr>
	 
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">李敬峰 <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
<div class="pagination">
    {% for post in paginator.posts %}
    <a href="{{ post.url }}">{{ post.title }}</a>
{% endfor %}
    </div>